.image {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border: solid 2px brown;
    border-radius: 10px;
    width: 380px;
    min-height: 250px;
    background-color: #a4ffe1;
    color: brown;
}

.table {
    font-size: 20px;
    width: 380px;
    min-height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border: solid 2px brown;
    border-radius: 10px;
    background-color: antiquewhite;
}

.table>tbody>tr>td:last-child {
    font-weight: bold;
    color: brown;
}

.lastupd {
    text-align: center;
    margin-bottom: 50px;
    color: brown;
}

.table>tbody>tr>td,
.table>thead>tr>td {
    padding: 5px;
}

.table>thead {
    font-weight: bold;
    color: brown;
    text-align: center;
}