.current_view {
    box-sizing: border-box;
    .last_upd {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        color: brown;
    }
    .city_box {
        text-align: center;
        min-height: 248px;
        margin: 0 auto;
        margin-bottom: 30px;
        border: solid 2px brown;
        width: 376px;
        background-color: #a4ffe1;
        color: brown;
        border-radius: 15px;
        .city_name {
            font-size: 24px;
            font-weight: 700;
            padding: 18px 0;
        }
    }
    .table {
        width: 356px;
        min-height: 228px;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 10px;
        border: solid 2px brown;
        border-radius: 15px;
        background-color: antiquewhite;
        .table_row {
            text-align: center;
            font-weight: bold;
            color: brown;
            font-size: 20px;
            border: none;
            padding: 12px;
        }
        .padding_row {
            padding-bottom: 25px;
        }
        .table_cell_item {
            border: none;
            padding: 10px 3px 5px 3px;
            font-size: 20px;
        }
        .item_2 {
            font-weight: bold;
            color: brown;
        }
    }
    .forecast_table {
        background-color: gainsboro;
    }
}